
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.contact{
    width:100%;
    height:600px;
 
}
.contactimg{
    height:300px;
    width:100%;
    text-align: center;
    background:rgba(255,255,255,0.2);
  margin-top:400px; 
  

}
.office{
    margin-top: 0px;
    height:410px;
    background-color: gold;
    /* text-align:center ; */
}
.hear{
margin-top: -200px;
 color:white;
 font-weight:1000;
 font-size:xx-large;
 text-align: center;
}
.reach{
    text-align: center;
    color:white;
    font-weight:500;
    margin-bottom:130px; 
}

.newsletter,.moffice,.mainpages{
    background-color: gold;
    border:0;
 height:250px;
    position:absolute;
    margin-top: 50px;
}
.moffice{  
    margin-left: 100px;
}
.newsletter{
    margin-left: 550px;
}
.mainpages{
    margin-left:1000px;
    
}
.text{
    margin-top:30px;
}
.inputbox{
margin-bottom: 200px;
    border:0;
    outline:0;
    padding:1.5%;
}
.signup{
    margin-top: 100px;
    height:35px;
    width:90px;
    margin-left: -190px;
}
.mb-2{
    margin-top: 30px;
    color:black;
    font-weight: bold;
    line-height: 2rem;
   
}
.title{
    font-weight: bolder;
}
.link{
    margin-top: 30px;
    text-decoration: none;
    color: black;
    

}
.links{
    width:140px;
    height:300px;
    line-height: 2.4rem;
}
.mp{
   list-style: none;
   list-style-type: none;
   margin-left: -30px;
   margin-top: 20px;
    
}
#ib{
    height:200px;
    width:200px;
}
footer{
background-color:black;
height:200px;

}
.foot{
    text-align: center;
    color: gold;
    font-weight: bolder;
    margin-top:-30px;
    font-size: xx-large;
}
.foot-icon{
    margin-left: 595px;
    margin-top: 30px;

}
.tag{
    color:gold;
    text-align: center;
}
.foot-fb{
    text-align: center;
    margin-left: 565px;
    width:50px;
}
.foot-tw,.foot-in,.foot-tg{
    width:50px;
}
#f2{
    background-color:black;
    height: 30px;
    text-align: center;
}
.ff
{
    color:gold; 
}
